<nav>
    <ul>
        <li><a routerLink="">Musiques</a></li>
        <li>
            <a routerLink="">Panel Admin</a>
        </li>
    </ul>
    <div class="buttons">
        <button routerLink="">Se connecter</button>
        <button>Se déconnecter</button>
    </div>
</nav>